@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#minicircle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    opacity: .6;
    background-color: #ff0000;
    position: absolute;
    z-index: 10000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}

.fa-a,.fa-k{
    color: #ffffff;
    transform: rotate(0deg);
    animation-name: rotate;
    animation-iteration-count: 1;
    animation-duration: 4s;
    font-size: 15px;
}
.fa-vector-square{
    position: relative;
    right: 773px;
    font-size: 50px;
    color: #ffffff;
    animation-name: rotateSquare;
    animation-iteration-count: 1;
    animation-duration: 4s;
}

@keyframes rotate{
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@keyframes rotateSquare{
    0% {transform: rotate(0); right:1000px; color: #000000;}
    50% {transform: rotate(-180deg); right: 0;}
    100% {transform: rotate(-360deg); right: 773px;}
}

.fa-a{
    position: fixed;
    left: 57px;
    top: 20px;
    font-size: 12px;
}

.fa-k{
    position: fixed;
    left: 70px;
    top: 20px;
    font-size: 12px;
}

.top-menu-bar ul li{
    list-style-type: none;
    padding-right: 10px;
}

.top-menu-bar ul{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 100px;
}

.top-menu-bar a{
    text-decoration: none;
    color: #ffffff;
}

.top-menu-bar i{
    padding: 10px;
}

.top-menu-bar a:hover{
    transition: all 0.2s ease-in-out;
    color: #666666;
    animation-delay: 0.2s;
}

.top-menu-bar{
    width: 100%;
}

.top-menu-bar nav{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.hero-section{
    padding-top: 100px;
    width: 100%;
    margin-bottom: -300px;
}

.myname,.mydes,.aj{
    position: relative;
    font-size: 100px;
    z-index: 2;
    font-family: 'Abril Fatface', cursive;
}

.myname{
    left: 550px;
    top: 0;
    z-index: 0;
    animation-name: topTran;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition: all 0.1ms ease-out;
}

@keyframes topTran{
    from {left:0;}
    to {left:550px;}
}

.aj{
    left: 490px;
    top: 0;
    color: #3333ff;
    z-index: 0;
    animation-name: midTran;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition: all 0.1ms ease-out;
}

@keyframes midTran{
    from {left:0;}
    to {left:490px;}
}

.mydes{
    left: 150px;
    top: 0;
    color: #3333ff;
    z-index: 0;
    animation-name: btmTran;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition: all 0.1ms ease-out;
}

@keyframes btmTran{
    from {left:0;}
    to {left:150px;}
}

.myimage{
    position: relative;
    left: 800px;
    bottom: 500px;
    z-index: 1;
    border: none;
    opacity: 0.8;
    animation-name: imgTran;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition: all 0.1s ease-out;
    box-shadow: -2px 2px 5px black;
    cursor: pointer;
    padding-top: 50px;
}

@keyframes imgTran{
    from {opacity: 1;left: 1000;}
    to {opacity: 0.8;left: 800px;}
}

hr{
    width: 410px;
    position: relative;
    top: -16;
    left: 275px;
    animation-name: hrTran;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition: all 0.1s ease-out;
}

@keyframes hrTran{
    from {transform: rotate(-45deg); left: 0; top: -50;}
    to {transform: rotate(0deg); left: 275px; top: -16;}
}

.summaryCard{
    box-shadow: 5px 5px 5px #646464b2;
    width: fit-content;
    margin-left: 130px;
    padding: 30px 0 30px 0;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgb(252, 197, 252);
}

.summaryCard h1{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #9b009b;
}

.summaryCard p{
    color: #666666;
    text-align: justify center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 20px 30px 30px;
}

.footer-icons{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section{
    background-color: black;
    position: relative;
    bottom: 0;
    z-index: 9999;
    margin-top: 200px;
    padding-bottom: 15px;
}

.footer-icons .fa-brands{
    color: #ffffff;
    font-size: 25px;
    padding-right: 30px;
}

.Copyright{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

.communication-form h1{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #3fa2ff;
}

.communication-form{
    margin-top: 170px;
    margin-bottom: 0;
}

.table form{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    border: none;
    padding: 15px;
    color: #ffffff;
    background-color: #000000;
    box-shadow: 2px 2px 5px #9b009b;
}

button:hover{
    color: #ffffff;
    background-color: #9b009b;
    box-shadow: 2px 2px 5px #000000;
}

input[type=text],input[type=email],textarea
{
    height: 60px;
    border: none;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 30px;
    text-align: center;
}

.fa-hand-pointer{
    font-size: 30px;
}

.rud img{
    width: 400px;
    height: 300px;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 5px;
}

.rud img:hover{
    box-shadow: 0 0 5px #000000;
    cursor: pointer;
}

.rud{
    display: flex;
    justify-content: space-around;
}

.rudimentary h1{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #3fa2ff;
    margin-bottom: 50px;
}

.course{
    margin-top: 50px;
    margin-bottom: 170px;
    text-align: center;
    background-color: #3fa2ff;
}

.course h1{
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    margin-bottom: 50px;
    padding-top: 50px;
}

.course h3{
    font-family: 'Unica One', cursive;
    margin-bottom: 50px;
    color: #ffffff;
    opacity: 0.8;
}

.course img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 50px;
    position: relative;
    box-shadow: 5px 5px 10px rgb(46, 189, 224);
}

.newton,.school{
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}

.courseName .newton{
    position: relative;
    text-align: unset;
    left: 400px;
    bottom: 200px;
}

.courseName .school{
    position: relative;
    text-align: unset;
    left: 780px;
    bottom: 250px;
}

.courseName{
    margin-top: -100px;
}

.workExp{
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    text-align: center;
    padding: 10px 10px 50px 10px;
}

.achi-title{
    border-radius: 20px 20px 0 0;
    color: #4d94ff;
    font-family: 'Comfortaa', cursive;
    border: none;
}

.card h3{
    font-family: 'Comfortaa', cursive;
}

.card p{
    font-family: 'Lisu Bosa', serif;
}

.tech,.non-tech{
    width: 100px;
    height:100px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px #9b009b;
    background-color: #ffffff;
}

.tech{
    position: relative;
    left: 300px;
    bottom: 50px;
}

.non-tech{
    position: relative;
    left: 950px;
    bottom: 150px;
}

.education-section .qual{
    margin-top: 170px;
    margin-bottom: -100px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #3fa2ff;
}

.edu-back{
    background-color: #3fa2ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 170px;
    padding: 20px;
}

.edu-card{
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.edu-card h1,h2,h3,h4,p{
    font-family: 'Comfortaa', cursive;
}

.edu-card p{
    color: #666666;
}

.edu-achieve{
    width: calc((100% / 2 ) - 10px);
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 350px;
}

.achi-title{
    text-align: center;
    margin-top: 170px;
    margin-bottom: 50px;
}

.edu-achieve i{
    padding-right: 10px;
}

.edu-achieve p{
    background-color: #3fa2ff;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    width: 200px;
    height: 120px;
    margin:10px;
}

.edu-achieve p:hover{
    animation-name: achiB;
    animation-iteration-count: 1;
    animation-duration: 4s;
    cursor: pointer;
}

.edu-achieve h1{
    font-family: 'Comfortaa', cursive;
    color: #3fa2ff;
    margin-bottom: 50px;
}

@keyframes achiB{
    from {background-color: #3333ff;}
    to {background-color: #3fa2ff;}
}

.fa-trophy{
    color: #d9e900;
    animation-name: trophy;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes trophy{
    0% {font-size: 35px;}
    50% {font-size: 30px; color: #41f850;}
    100% {font-size: 35px;}
}

.fa-medal{
    color: #e22929c0;
}

.fa-award{
    color: #dae900c4;
}