* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

/* CENTER */
.center {
  width: 70%;
  margin-left: 25%;
  margin-right: 5%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 40px;
  color: #fff;
  background-color: #111;
}

/* SECTION */
section {
  min-height: 100vh;
  padding-bottom: 60px;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* scrollbar */
/* Chrome, Edge, Safari */
.center::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

.center::-webkit-scrollbar-track {
  background: #111; /* track color */
}

.center::-webkit-scrollbar-thumb {
  background: #ffffff; /* your orange theme */
  border-radius: 10px;
}

.center::-webkit-scrollbar-thumb:hover {
  background: #cacaca; /* lighter on hover */
}

.center::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  box-shadow:
    0 0 10px #bbbbbb,
    0 0 20px #ffffff;
}

@media (max-width: 1024px) {
  .left {
    display: none;
  }

  .center {
    width: 90%;
    margin-left: 0;
    margin-right: 10%;
  }
}
